{% extends 'Buyer/buyer_home.html' %}
{% block content %}
<style type="text/css">
	th{
		background-color: green;
		color: white;
	}
</style>
<section>
        <div class="container">
        <div class="text-center">
        <h1>Request Status</h1>
        <br>
        </div>
        </div>
     </section>
     <section class="section-background">
     <div class="container">


     	<table border="1" class="table">
     		<tr>
     			<th>Sl.No.</th>
     			<th>Date</th>
     			<th>Driver Details</th>
     			<th>From date & To date</th>
     			<th>Status</th>

     		</tr>
     		{% for x in var %}
     		<tr>
                <td>{{forloop.counter}}</td>
                <td>{{x.date}}</td>
     			<td>{{x.driver_email}}<br>{{x.driver_phone}}</td>
     			<td>{{x.fromdate}}<br>{{x.todate}}<br>{{x.hrs}}</td>
     			<td>{{x.status}}</td>
     			

     		</tr>
     		{% endfor %}
     	</table>


     </div>
     </section>
{% endblock %}